.header__menu-button {
  border: none;
  background-color: #000;
  background-image: url(../../../images/Menu.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  height: 27px;
  margin: 2px 2px 0 0;
  padding: 0;
  width: 27px;
}

@media all and (max-width: 384px) {
  .header__menu-button {
    display: block;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: linear;
    width: 20px;
    height: 20px;
    padding-top: 5px;
  }
  
  .header__menu-button:hover {
    opacity: .5;
  }
}